<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>
            <%=d.rid%>
        </h1>
        <h2>
            <%=d.rname %>
        </h2>
        <h3>
            <%=d.ct %>
        </h3>
        <h4>
            <%=d.location %>
        </h4>
        <h4>
            <%=d.nOfT %>
        </h4>
        <h4>
            <%=d.hasOS %>
        </h4>
        <h4>
            <%=d.ohours %>
        </h4>
        <h4>
            <%=d.cn %>
        </h4>
    </div>
</body>

</html>